.Section::before {
    content: "About";
    position: absolute;
    inset: 0;
    left: -10%;
    font-family:  var(--logo);
    font-size: 10em;
    font-weight: 700;
    opacity: .15;
}

.NavOffset {
    position: absolute;
    top: -110px;
  }
