.AppointmentCard {
    text-align: left;
    color: var(--purple);
    background-color: var(--light);
    margin: .5em;
    padding: 1em;
    border-radius: 3px;
}

.CardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.AppointmentDetail {
    padding: 1em;
    max-width: 600px;
    margin: 2em auto;
    position: relative;
}

.Actions {
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: .8;
}

.Actions > span {
    cursor: pointer;
    padding: 5px;
}

.AppointmentDetail i {
    color: var(--purple);
    font-size: 1.5em;
}

.AppointmentDetail i:hover {
    color: var(--salmon);
}

.AppointmentPageHelp {
    margin-top: 2.5em;
}