.UpcomingAppointmentCard {
    background-color: rgb(232, 246, 232);
    text-align: left;
}

.PastAppointmentCard {
    background-color: rgb(255, 224, 224);
    text-align: left;
}

.CardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
