.OffsetTop {
    margin-top: 160px;
}

.Todays {
    margin: 1em;
    display: grid;
    grid-auto-columns: repeat(auto, 300px);
}

.Tab {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.TabLink {
    margin-top: 50px;
}

.TabLink a {
    color: var(--rose);
}

.TabLink a:hover,
.TabLink a:focus {
    color: var(--wine);
}

.ActionBtn {
    color: var(--light);
    background-color: var(--purple);
    border: 2px solid var(--purple);
    margin: 20px;
    border-radius: 3px;
    padding: 5px 20px;
}

.ActionBtn:hover,
.ActionBtn:focus,
.ActionBtn:focus-within,
.ActionBtn.btn:active {
    --bs-btn-active-color: var(--purple);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-focus-box-shadow: var(--purple);
    background-color: transparent;
    color: var(--purple);
    border-color: var(--purple);
    box-shadow: 0 0 5px var(--purple);
    outline-color: var(--purple);
}
