.ClientsList {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ClientsList li:nth-child(odd) {
    background-color: var(--light);
}

.ClientsList li {
    color: var(--dark);
    padding-block: .5em;
    cursor: pointer;
}

.ClientsList li:hover {
    color: var(--rose);
}