.ClientsList {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ClientsList li:nth-child(odd) {
    background-color: var(--light);
}

.ClientsList li {
    color: var(--dark);
    padding-block: .5em;
    cursor: pointer;
}

.ClientsList li:hover {
    color: var(--rose);
}

.SearchWrapper {
    position: relative;
    width: 90%;
    max-width: 500px;
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin: 1em auto;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--wine);
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
