.Footer {
    padding-block: 2em;
    background-color: var(--purple);
    color: var(--light);
}

.FooterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
    column-gap: 5em;
}

ul {
    list-style: none;
    padding: 0;
}

.Social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.Social a {
    color: var(--wine-lighter);
}

.Social a:hover {
    color: var(--rose-lighter);
}

.Social i {
    font-size: 2.5em;
}

.FooterContainer > * {
    display: flex;
    flex-direction: column;
}

td {
    text-align: left;
}
