.Gallery {
    max-width: 100dvw;
    overflow: hidden;
    opacity: .9;
}

.Gallery > * {
    max-width: 100%;
}

.Gallery img {
    min-width: 100%;
    object-fit: cover;
}

.NavOffset {
    position: absolute;
    top: -110px;
  }
