.Hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    height: 100vh;
    background: var(--light)
    url('../assets/pink-hair.jpg')
    center/
    cover
    no-repeat;
    color: var(--purple);
    isolation: isolate;
}

.Hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--light);
    opacity: .4;
    z-index: -1;
}

#CallToAction {
    position: relative;
    padding: 80px;
    isolation: isolate;
}

#CallToAction::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--light);
    opacity: .7;
    padding: 100px;
    z-index: -1;
}

.HeroBtn {
    background-color: var(--purple);
    border: 2px solid var(--purple);
    margin: 20px;
    border-radius: 3px;
    padding: 5px 20px;
    color: var(--light);
}

.HeroBtn:hover,
.HeroBtn:focus,
.HeroBtn:focus-within,
.HeroBtn.btn:active {
    --bs-btn-active-color: var(--purple);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-focus-box-shadow: var(--purple);
    background-color: transparent;
    color: var(--purple);
    border-color: var(--purple);
    box-shadow: 0 0 5px var(--purple);
    outline-color: var(--purple);
}

.GoDown {
    position: absolute;
    bottom: 20px;
    font-size: 2em;
    color: var(--wine);
    animation: up-and-down 700ms linear 2s infinite alternate;
}

.GoDown:hover {
    color: var(--rose);
}


@keyframes up-and-down {
    from {
        transform: translate(0, -10px);
    }
    to {
        transform: translate(0);
    }
  }