.Section {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

.Section::before {
    content: "Services";
    position: absolute;
    inset: 0;
    left: -10%;
    font-family:  var(--logo);
    font-size: 10em;
    font-weight: 700;
    opacity: .15;
    z-index: -1;
}

.HorizontalScroll {
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior:initial;
    scroll-snap-align:initial;
    scroll-snap-type: initial;
}

.ServiceCard {
    min-width: 300px;
    background-color: var(--wine);
    color: var(--light);
}

.ServicesBtn {
    background-color: var(--purple);
    border: 2px solid var(--purple);
    margin: 20px;
    border-radius: 3px;
    padding: 5px 20px;
}

.ServicesBtn:hover,
.ServicesBtn:focus,
.ServicesBtn:focus-within,
.ServicesBtn.btn:active {
    --bs-btn-active-color: var(--purple);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-focus-box-shadow: var(--purple);
    background-color: transparent;
    color: var(--purple);
    border-color: var(--purple);
    box-shadow: 0 0 5px var(--purple);
    outline-color: var(--purple);
}

@media screen and (min-width:800px) {
    .Section {
        flex-direction: row;
    }
}