.Section {
    background-color: var(--light);
    width: 100%;
    margin-inline: 0;
    padding: 2em;
}

.ServicesWrapper {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

.HorizontalScroll {
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior:initial;
    scroll-snap-align:initial;
    scroll-snap-type: initial;
}

    /* width */
.HorizontalScroll::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  .HorizontalScroll::-webkit-scrollbar-track {
    border-radius: 1000000000px;
    width: 5px;
    background: white;
  }
  
  /* Handle */
  .HorizontalScroll::-webkit-scrollbar-thumb {
    border-radius: 1000000000px;
    height: 5px;
    background: var(--wine);
  }
  
  /* Handle on hover */
  .HorizontalScroll::-webkit-scrollbar-thumb:hover {
    background: var(--wine-lighter);
  }


.ServiceCard {
    min-width: 300px;
    background-color: var(--wine);
    color: var(--light);
}

.ServicesBtn {
    background-color: var(--purple);
    border: 2px solid var(--purple);
    margin: 20px;
    border-radius: 3px;
    padding: 5px 20px;
}

.ServicesBtn:hover,
.ServicesBtn:focus,
.ServicesBtn:focus-within,
.ServicesBtn.btn:active {
    --bs-btn-active-color: var(--purple);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-focus-box-shadow: var(--purple);
    background-color: transparent;
    color: var(--purple);
    border-color: var(--purple);
    box-shadow: 0 0 5px var(--purple);
    outline-color: var(--purple);
}

@media screen and (min-width:800px) {
    .ServicesWrapper {
        flex-direction: row;
    }
}