@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caramel&family=Raleway:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --light: #FAF8FF;
  --dark: #110E18;

  --purple: #3C2E63;
  --wine: #873E74;
  --wine-lighter: #a07e99;
  --rose: #C75772;
  --rose-lighter: #c98998;
  --salmon: #F38265;
  --orange: #FFBA5C;
  --yellow: #F9F871;

  --bold: 'Anton', sans-serif;
  --logo: 'Caramel', cursive;
  --base: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  font-family: var(--base);
  margin-top: 110px;
}

h2 {
  font-family: var(--bold);
  font-size: 2.2em;
  color: var(--purple);
}

section {
  margin: 50px;
  position: relative;
  color: var(--purple);
}