@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caramel&family=Raleway:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  pointer-events: none;
  font-family: 'Caramel', cursive;
  font-size: 3.5em;
  letter-spacing: 4px;
  position: relative;
  top: -10px;
}

.App-logo::first-letter {
  font-size: 1.2em;
}

.App-logo > img {
  margin-inline: 10px;
  position: relative;
  top: -5px;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/